div.panel{
    box-shadow: 2px 2px 4px rgba(0,0,0,.8);
    background-color: #FFF;
    min-width: 200px;
    min-height: 150px;
    margin: 5px;
    border-radius: 10px;
    /* align-self: start; */
    position: relative;
    flex: 1;
}

div.panel div.refresh{
    position: absolute;
    right: 5px;
    top: 5px;
}

div.panel h2{
    padding: 5px 10px;
    margin-bottom: 0;
}

div.panel p.noData{
    color: red;
    text-align: center;
}

div.panel .refresh button{
    background: none;
    border: none;
    border-radius: 10px;
    outline: none;
}

div.panel .refresh button:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0,.8);
}

div.panel .refresh img{
    height: 15px;
}

@media (prefers-reduced-motion: no-preference) {
    div.panel .refresh img{
        animation: Refresh-logo-spin infinite 20s linear;
    }
}

@keyframes Refresh-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

