body, html{
  height: 100%;
}

.App{
  height: 100%;
}

.App h1.app-title {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px;
  position: relative;
  border-bottom: 2px solid green;
}

.App h1.app-title img{
  position: absolute;
  height: 30px;
  right: 20px;
  top: 5px;
}

.App div.panel-group {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: darkgray;
  height: 100%;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
